body{
    background-color: blanchedalmond;
}
.diff{
    color: purple;
}
.desc{
    color: green;
}
.head{
    color: purple;
}
.video{
    object-fit: cover;
}
.trailer{
    background-color: rgb(204,153,0); opacity 0.2; 
}
